body{
	white-space: nowrap;
	margin: 0;
	margin-top: 55px;
	padding:0;
	background: #0079BF;
	font-family: "jaf-facitweb", "Helvetica Neue",Arial,sans-serif;
}

ul{
	margin:0;
	padding: 0;
}

#navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	width: 100%;
	top:0;
}

#navbar li{
	display: block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

#navbar li:hover{
	background-color: #111;
}



#navboards{
	float: left;
}

#navsettings{
	float: right;
}

#title{
	margin: 20px;
	margin-bottom: 10px;
	color:white;
}


.lists{
	list-style-type: none;
	padding: 0;
}

.list{
	min-height: 40px;
	width: 300px;
	display: inline-block;
	background: #c0c0c0;
	padding:10px;
	border-radius: 5px;
	margin-left: 10px;
	margin-right: 10px;
	white-space: normal;
	vertical-align: top;
	}

.card{
	min-height: 30px;
	max-height: 90%;
	width: 92%;
	display: block;
	padding: 10px;
	margin-top: 5px;
	background: white;
	border-radius: 3px;
	border: 0;
	white-space: nowrap;
}

.card:hover{
	background: #DCDCDC;
}

.content{
	display: block;
}

.add{
	margin-top: 10;
	margin-bottom: 0;
}
.add:hover{
	color: #e0e0e0;
}


