<%- include('header', {href: '../stylesheets/board.css '}); %>
	
	<script src="/socket.io/socket.io.js"></script>
	<script>
	  var socket = io();
	</script>


	
	<ul id = "navbar">
		<li id = "navboards" >Boards
			<div id = "boards-menu">
				<ul id = "boards-content">
					<li id = 'my_boards' >My Boards</li>
				</ul>
			</div>
		</li>
		<li id="navmenu">Menu
			<div id="menu">
				<ul id = "menu-content">
					<li>
						<form id="new_member">
							<input class='box' type='text' name='add_member' placeholder='Username' required>
							<input class="box" type="submit" name="submit_member" value ="Add Member">
						</form>
					</li>
					<li><a href = "/logout"?>log out</a></li>
				</ul>
			</div>
		</li>
	</ul>
	
	<h1 id = "title"> My Board </h1>

	<ul id="lists">
		<li class="list" id = "add_list">
			<form id="new_list">
				<input class="box" type="text" name="list_title" placeholder="Add a list..." required>
				<input class="box" type="submit" name="submit_list" value ="Make list">
			</form>
		</li>
	</ul>


	<div id="modal">
	<div class="big-card">
		<ul class = "card-contents">
		<form id = "new_form">
			<li class="entry">
				<div >
					<input id = "card_title" class = "box" type="text" name="title" placeholder="Add Title..." required>
				</div>
			</li>
			<li class="entry">
				<ul class="memberlabels">
					<li>Members
						<ul>
							<li class="member">M1</li>
							<li class="member">M2</li>
							<li class="member">M3</li>
						</ul>
					</li>
					<li id='labels'>Labels
						<ul>
							
						</ul>
					</li>
				</ul>
			</li>
			<li class="entry">Edit the Description...
				<div >
					<input id = "description" class = "box" type="text" name="Description" placeholder="Edit Description...">
				</div>
			</li>
			<li class="entry">Add Comment
				<div >
					<input id = "comment" class = "box" type="text" name="Comment" placeholder="Add Comment...">
				</div>
			</li>
			<li class = "entry" id = "comments_box"> Comments
				<div >
					<ul id = "comments">
					</ul>
				</div>
			</li>
			<li>
				<input id = 'save' class = "box" type="submit" name="submit_card" value="Save">
			</li>			
		</form>
		</ul>

		<div class = "xadd">
			<button id="x">X</button>
			<ul class = "big-card-add">
			<li><h3>Add</h3>
				<ul>
					<li class="box">Members</li>
					<li class="box" id="myDropdown">Labels

						<ul  class="dropdown-content">
							<li id="red">Red</li>
							<li id="orange">Orange</li>
						    <li id="yellow">Yellow</li>
						    <li id="green">Green</li>
						    <li id="blue">Blue</li>
						    <li id="pink">Pink</li>
						</ul>

					</li>
				</ul>
			</li>
			<li><h3>Actions</h3>
				<ul>
					<li class="box">Move</li>
					<li class="box">Copy</li>
					<li class="box">Archive</li>
				</ul>
			</li>
		</ul>
		</div>
		
		
	</div>
	</div>
	
<script> var boardid = '<%- bid %>'; </script>
<%- include('footer',{script: "../javascripts/board.js"}); %>