<%- include('header', {href: 'stylesheets/boards.css '}); %>

	<ul id = "navbar">
		<li id = "navboards" >Boards
			<div id = "boards-menu">
				<ul id = "boards-content">
					<li>recent boards</li>
					<li>personal boards</li>
					
				</ul>
			</div>
		</li>
		<li id="navmenu">Menu
			<div id="menu">
				<ul id = "menu-content">
					<li>add members</li>
					<li>activity</li>
					<li><a href = "/logout"?>log out</a></li>
				</ul>
			</div>
		</li>
	</ul>

	
	<div class="board">
		<h1 class = "title">My boards</h1>
			<ul class="lol">
				<li id="add_board">
					<form id="new_board">
						<input class="box" type="text" name="board_title" placeholder="Add a board..." required>
						<input class="box" type="submit" name="submit_board" value ="Make board">
					</form>
				</li>
			</ul>
		</div>
	</div>

<%- include('footer',{script: "javascripts/boards.js"}); %>