<%- include('header', {href: '../stylesheets/login.css '}); %>

	<div class = "login">
		<H1 id = "title" >Forgot Password</H1>
		<form id = "fp_form">
			<p>Email<br>
			<input type="email" name="email" placeholder="e.g example@gmail.com" required></p>
			
			<input class="button" id="get_link" type="submit" value="Get Link">
		</form>
			
	</div>

<%- include('footer',{script: "javascripts/login.js"}); %>