<%- include('header', {href: '../stylesheets/login.css '}); %>

	<div class = "login">
		<H1 id = "title" >link</H1>
		<a href = 'reset/<%- link %>' class = 'link'> Password Reset Link: </a>
	</div>

<%- include('footer',{script: "javascripts/login.js"}); %>