<%- include('header', {href: 'stylesheets/register.css '}); %>


	<div class="register">
		<H1 id="title">Register with Trello</H1>
		<form id = "registration_form">
			<p>Username:<br>
			<input type="text" name="username" placeholder="e.g username1" required></p>
			<p>Email:<br>
			<input type="email" name="email" placeholder="e.g example@gmail.com" required></p>
			<p>Password:<br>
			<input type="password" id="password" name="password" required></p>
			<p>Confirm Password:<br>
			<input type="password" id="password2" name="password2" required=""></p>
			<p><input type="checkbox" name=""> Remember Me</p>
			<input class="button" id="register_btn" type="submit" name="register" value="Register">			
		</form>
				
	</div>

<%- include('footer',{script: "javascripts/register.js"}); %>